# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# build folder
public/*.js*

# tools
.vscode/

# misc
.DS_Store

# logs
*.log

# testing results
test_results/
